.navbar {
    background-color: #343a40;
    color: #FFD700;
}

.link{
    color: #FFD700 ; 
    text-decoration: none; 
    transition: color 0.3s ease;
    padding: 8px; 
}

.link:hover {
    padding: 15px;
    background-color: #495057;
    border-radius: 4px;
}