/* Base sidebar styling */
.sidebar {
    background-color: #343a40;
    color: white;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out;
    overflow: hidden;
}

/* Sidebar on the left */
.sidebar.left {
    left: 0;
    right: auto;
}

/* Sidebar on the right */
.sidebar.right {
    right: 0;
    left: auto;
}

/* Shrinked sidebar */
.sidebar.shrink {
    width: 80px; /* Shrunk sidebar width */
}

.sidebar.active {
    width: 250px; /* Full-width sidebar */
}

/* Sidebar header */
.sidebar header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    background-color: #495057;
    cursor: pointer;
}

/* Hamburger icon */
.sidebar .hamburger-icon {
    font-size: 30px;
    color: white;
    margin-left: 15px;
}

/* Logo */
.logo {
    width: 250px;
    margin: 20px auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.sidebar.shrink .logo {
    opacity: 0; /* Hide logo when shrunk */
}

/* Navigation list */
ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: all 0.3s ease-in-out;
}

ul li a {
    color: #FFD700;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-left: 15px;
}

ul li:hover {
    background-color: #495057;
    border-radius: 4px;
    padding: 20px;
}

.sidebar.shrink ul li a {
    justify-content: center;
    gap: 0; /* Remove spacing when shrunk */
}

.sidebar.shrink ul li a span {
    display: none; /* Hide text in shrink mode */
}

/* Icon styling */
.sidebar svg {
    font-size: 24px;
}

/* Toggle Button Styling */
.toggle-btn {
    text-align: center;
    height: 60px;
    width: 85px;
    background-color: #FFD700;
    border-radius: 30px;
    color: #343a40;
    font-weight: bold;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.toggle-btn:hover {
    background-color: #e5c400;
}

/* Toggle button for left sidebar */
.sidebar.left + .toggle-btn {
    left: 20px;
}

/* Toggle button for right sidebar */
.sidebar.right + .toggle-btn {
    right: 20px;
}
